@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settings") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var siteName = settings?.Value<string>("siteName") ?? "";
    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";      
}
 
<header>
    <div class="header-top-info bg-primary">
    <div class="container">
        <p>@officeLocation</p>
        <div class="social-media">
            <a class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a class="linked-in"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    </div>
 
    <div class="header-nav bg-light">
    <div class="container">
        <a href="/">
        <img src="@siteLogotype" alt="@siteName">
        </a>
        <nav>
            <a href="/about/">About</a>
            <a href="/our-services/">Services</a>
            <a href="/project/">Projects</a>
            <a href="/contact/">Contact</a>
        </nav>
        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    </div>
</header>