.container {
  width: 100%;
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 720px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.map {
  position: relative;
}
.map .img-map {
  position: relative;
}

.contact-information .container {
  padding: 20px 0;
}
@media (min-width: 1400px) {
  .contact-information .container {
    padding: 70px 30px;
  }
}
.contact-information .container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1400px) {
  .contact-information .container .contact-form {
    height: 567px;
    width: 1170px;
    position: absolute;
    z-index: 1;
    top: -27rem;
  }
}
.contact-information .container .contact-form p {
  font-style: italic;
}
.contact-information .container .contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
@media (min-width: 720px) {
  .contact-information .container .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name phone" "email select" "button button";
  }
}
.contact-information .container .contact-form form input {
  padding: 20px 10px;
  border: 1px solid #9C9EA6;
  color: var(--color-dark);
  outline: none;
  border-radius: 3px;
}
.contact-information .container .contact-form form input::placeholder {
  font-size: 13px;
  color: #9C9EA6;
  font-style: italic;
}
.contact-information .container .contact-form form .name {
  grid-area: name;
}
.contact-information .container .contact-form form .phone {
  grid-area: phone;
}
.contact-information .container .contact-form form .email {
  grid-area: email;
}
.contact-information .container .contact-form form select {
  grid-area: select;
  padding: 20px 10px;
  border: 1px solid #9C9EA6;
  color: #535656;
  outline: none;
  border-radius: 3px;
  width: 50%;
}
@media (min-width: 720px) {
  .contact-information .container .contact-form form select {
    width: auto;
  }
}
.contact-information .container .contact-form form button {
  grid-area: button;
  width: 100%;
}
@media (min-width: 1400px) {
  .contact-information .container .contact-form form button {
    justify-self: center;
    align-self: center;
    width: auto;
  }
}
