.container {
  width: 100%;
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 720px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands .container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 5px;
}
@media (min-width: 1400px) {
  .brands .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px 0;
  }
}
